

.syllabus-main {
    margin-top: 2.928vw;
    display: flex;
}

.syllabus-side {
    background-color: rgb(255, 255, 255);
    justify-items: left;
    /* left: 1055px; */
    padding-left: 1.464vw;
    padding-right: 1.318vw;
    border-right: 0.146vw solid rgb(130, 134, 132);
    width: 14.641vw;
}

.syllabus-side ul li {
    margin-top: 1.171vw;
    margin-left: 1.83vw;
    list-style: disc;
    font-size: 1.245vw;
    font-weight: 500;
}

.syllabus-title{
    font-size: 1.245vw;
    font-weight: bold;
    margin-bottom: 1.464vw;
    color: rgb(80, 80, 80)
}

.a :hover{
    cursor: pointer;
    pointer-events: none;
}

.syllabus-side ul li a {
    color: #015521;
    text-decoration: none;
}

.syllabus-side ul li :hover {
    text-decoration: underline;
}

.syllabus-container{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.syllabus-pdf{
    width: 58.565vw;
    height: 58.565vw;

}